name: Publish Client Libraries

on:
  push:
    branches:
      - master

jobs:
  build_test_deploy:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # Linux
          - platform: ubuntu-latest
            target: x86_64-unknown-linux-musl
            tests: true
          - platform: ubuntu-latest
            target: armv7-unknown-linux-musleabihf
          - platform: ubuntu-latest
            target: aarch64-unknown-linux-musl
            tests: true
            rustflags: -C link-arg=-lgcc # from https://github.com/rust-embedded/cross/blob/master/docker/Dockerfile.aarch64-unknown-linux-musl
          - platform: ubuntu-latest
            target: arm-unknown-linux-musleabi
            tests: true
          - platform: ubuntu-latest
            target: arm-linux-androideabi
          - platform: ubuntu-latest
            target: aarch64-linux-android
          - platform: ubuntu-latest
            target: i686-unknown-linux-musl
            tests: true
          - platform: ubuntu-latest
            target: i586-unknown-linux-musl
            tests: true
          # Apple
          - platform: macos-latest
            target: x86_64-apple-darwin
            tests: true
          - platform: macos-latest
            target: x86_64-apple-ios
          # Windows
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            tests: true
          - platform: windows-latest
            target: i686-pc-windows-msvc
          # iSH (https://ish.app/)
          - platform: ubuntu-latest
            target: i686-unknown-linux-musl
            client_binary_name: ish
            tests: false
            rustflags: -C target-feature=-mmx,-sse,-sse2 --cfg tls_only_aes_gcm
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2

    - run: ./install-deps.sh
      working-directory: tunshell-client/build
      shell: bash
      env:
        TEMPDIR: /tmp

    - run: ./compile.sh ${{ matrix.target }} ${{ matrix.client_binary_name }}
      working-directory: tunshell-client/build
      shell: bash
      env:
        RUN_TESTS: ${{ matrix.tests }}
        RUST_TEST_THREADS: 1
        CI: true
        RUST_LOG: debug
        RUSTFLAGS: ${{ matrix.rustflags }}

    - uses: chrislennon/action-aws-cli@v1.1

    # Deploy artifact to https://artifacts.tunshell.com
    - name: Deploy to S3
      run: aws s3 cp --recursive artifacts/ s3://tunshell-artifacts/ --acl=public-read --cache-control max-age=31536000 --metadata-directive REPLACE
      working-directory: tunshell-client/build
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.ARTIFACT_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.ARTIFACT_AWS_SECRET_ACCESS_KEY }}

    - name: Invalidate CloudFront
      run: aws cloudfront create-invalidation --distribution-id=E3DF4SGU15BNWT --paths '/*'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.ARTIFACT_AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.ARTIFACT_AWS_SECRET_ACCESS_KEY }}